.sidebar {
  box-sizing: border-box;
  padding: 10px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 70px;
  position: absolute;
  height: calc(100vh - 50px);
}
