.sidebar {
  box-sizing: border-box;
  padding: $lg 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: $sidebar-w;
  position: absolute;
  height: calc(100vh - $header-h);
}
