.charts {
  margin-top: $xxl;
  box-sizing: border-box;
  max-width: 1600px;
  overflow-x: overlay;
  display: flex;
  &::-webkit-scrollbar {
    max-height: 0px;
  }
  &:hover {
    &::-webkit-scrollbar {
      max-height: $md;
    }
  }

  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: $border-xxl;
  }
  .chart {
    font-family: "Roboto", sans-serif;

    &:not(:first-child) {
      padding-left: $xl;
    }
    &:last-child {
      border-right: none;
    }
    padding-right: $xl;
    border-right: 1px solid $secondary;
    min-width: 250px;
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    .chart-info {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .chart-info-price,
      .chart-info-change {
        font-size: 0.9rem;
      }
      .chart-info-currency {
        display: flex;
        align-items: center;
        .chart-info-currency-logo {
          margin-right: $sm;
        }
      }
    }
  }
  .chart-misc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
    width: 60px;
  }
}

.hidden {
  transition: 1s ease;
  opacity: 0;
}

.visible {
  transition: 1s ease;
  opacity: 1;
}
