.trending-now-container {
  display: flex;
  .big-post {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: $md;
    width: 50%;
    height: auto;
    .big-post-image img {
      margin-bottom: $md;
      object-fit: cover;
      border-radius: $border-xxl;
      width: 100%;
      height: 300px;
    }
  }

  .right-posts {
    padding-left: $md;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .small-post {
      &:not(:first-child) {
        margin-top: $xl;
      }
      display: flex;
      .small-post-image {
        img {
          border-radius: $border-xxl;
          width: 125px;
          height: 125px;
          object-fit: cover;
        }
      }
      .small-post-info {
        width: 100%;
        margin-left: $lg;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .tags {
          padding-top: 0;
        }
        .post-info {
          padding: 0;
        }
      }
    }
  }

  .post-info {
    display: flex;
    align-items: center;
    font-size: 0.85em;
    .post-user-icon {
      margin-right: $md;
    }
    span {
      padding-left: $sm;
      color: $neutral;
    }
  }

  .post-title {
    padding-bottom: $md;
    font-size: 1.2em;
  }
}

.tags-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}
