@import "./utils/mixins.scss";
@import "./utils/var.scss";
@import "./utils/normalize.css";
@import "/src/assets/components/page/header/header.scss";
@import "/src/assets/components/reusable/Input/input.scss";
@import "/src/assets/components/reusable/ActionIcon/actionIcon.scss";
@import "/src/assets/components/page/Sidebar/sidebar.scss";
@import "/src/assets/components/page/Charts/chart.scss";
@import "/src/assets/components/page/AsideNews/asideNews.scss";
@import "/src/assets/components/page/AirdropsCalendar/airdropsCalendar.scss";
@import "/src/assets/components/reusable/Title/title.scss";
@import "/src/assets/components/page/TrendingNow/TrendingNow.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;600;700&display=swap");

body {
  background-color: $background;
  font-family: "Poppins", sans-serif;
  overflow-y: overlay;
  &::-webkit-scrollbar {
    max-width: $md;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $primary;
    border-radius: $border-xxl;
  }
}

a {
  color: $white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.color-success {
  color: $success;
}

.color-danger {
  color: $danger;
}

.content {
  // margin-left: 100px;
  margin: 0 auto;
  max-width: 1600px;
  color: white;
}

.news {
  display: flex;
  main {
    padding-right: $xxl;
    position: relative;
    width: 75%;
    .main-ad {
      margin-top: $xxl;
      width: 100%;
      height: auto;
      img {
        border-radius: $border-lg;
        object-fit: cover;
        width: 100%;
        height: auto;
      }
    }
    .aside-news-mobile {
      display: none;
    }
  }
  aside {
    width: 25%;
    .aside-ad {
      margin-top: $xxl;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      img {
        width: 100%;
        object-fit: cover;
        border-radius: $border-xl;
      }
    }
  }
}

.tags {
  position: relative;
  margin-bottom: $md;
  display: flex;
  flex-wrap: wrap;
  gap: $md 0;
  .tag {
    margin-right: $md;
    border-radius: $sm;
    padding: $sm;
    font-size: 0.8em;
    background-color: $secondary;
  }
}

.moretags {
  font-size: 0.9em;
  color: $neutral;
}

// 768px
@media (max-width: $tablet) {
  .content {
    padding: 0 $lg;
  }
  .charts {
    max-width: calc(100vw - $xxl) !important;
    padding: $lg 0;
  }
  main {
    padding-right: 0px !important;
  }
  .sidebar {
    padding: 0px;
    width: auto;
    display: flex;
    position: relative;
    flex-direction: row;
    height: auto;
    justify-content: center;
    align-items: center;
  }
}

// 1024px
@media (max-width: $laptop) {
  .charts {
    max-width: calc(100vw - 128px);
  }
  main {
    width: 100% !important;
  }
  aside {
    display: none;
  }
  .aside-news-mobile {
    display: block !important;
  }
}

// 426px
@media (max-width: $mobile-l) {
  .charts {
    padding: $xxl $md;
  }
  .sidebar {
    display: none;
  }
}

// 376px
@media (max-width: $mobile-m) {
  .header-title {
    display: none !important;
  }
  .logo {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .misc {
    .button-icon {
      display: flex !important;
      position: absolute;
      right: 30px;
    }
    .main-icon {
      display: none !important;
    }
    .search-icon {
      display: none !important;
    }
  }
}

// 320px
@media (max-width: $mobile-s) {
}

@media (max-width: 1745px) {
  .content {
    padding: 0 $sidebar-w;
    padding-right: $xl;
  }
}

@media (max-width: 600px) {
  .search {
    display: none !important;
  }
  .misc {
    .search-icon {
      display: flex !important;
    }
  }
}
