@import "./utils/mixins.scss";
@import "./utils/var.scss";
@import "./utils/normalize.css";
@import "/src/assets/components/page/header/header.scss";
@import "/src/assets/components/reusable/Input/input.scss";
@import "/src/assets/components/reusable/ActionIcon/actionIcon.scss";
@import "/src/assets/components/page/Sidebar/sidebar.scss";
@import "/src/assets/components/reusable/Chart/chart.scss";

body {
  background-color: $background;
}

a {
  color: $white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.color-success {
  color: $success;
}

.color-danger {
  color: $danger;
}

.content {
  margin-left: 80px;
  color: white;
}

@media (max-width: 768px) {
  .content {
    margin-left: $lg;
  }
}
