.news-container {
  .aside-post {
    &:not(:last-child) {
      margin-bottom: $lg;
    }
    font-size: 0.9rem;
    position: relative;
    .post-header {
      width: 100%;
      margin-bottom: $sm;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .post-source {
        display: flex;
        justify-content: center;
        align-items: center;
        .post-source-name {
          .post-time {
            color: $neutral;
          }
        }
      }
      .post-icon {
        margin-right: $sm;
      }
      .post-social {
        margin-left: $md;
      }
    }
  }
  .post-body {
    line-height: 1.5rem;
    margin-top: $md;
    font-size: 0.9rem;
    color: rgb(199, 199, 199);
  }
}
