@mixin spacing-utility($attribute, $prefix: "-") {
  $sizes: "xs", "sm", "md", "lg", "xl";

  $spacing-map: (
    xs: 4px,
    sm: 6px,
    md: 8px,
    lg: 14px,
    xl: 18px,
  );

  @each $name, $value in $spacing-map {
    &#{$prefix}#{$name} {
      #{$attribute}: $value;
    }
  }

  $newattribute: $attribute + "-bottom";
  @each $name, $value in $spacing-map {
    &-bottom#{$prefix}#{$name} {
      #{$newattribute}: $value;
    }
  }
  $newattribute: $attribute + "-top";
  @each $name, $value in $spacing-map {
    &-top#{$prefix}#{$name} {
      #{$newattribute}: $value;
    }
  }

  $newattribute: $attribute + "-left";
  @each $name, $value in $spacing-map {
    &-left#{$prefix}#{$name} {
      #{$newattribute}: $value;
    }
  }

  $newattribute: $attribute + "-right";
  @each $name, $value in $spacing-map {
    &-right#{$prefix}#{$name} {
      #{$newattribute}: $value;
    }
  }

  $newattribute: $attribute;
  @each $name, $value in $spacing-map {
    &-y#{$prefix}#{$name} {
      #{$newattribute}: $value 0;
    }
  }

  $newattribute: $attribute;
  @each $name, $value in $spacing-map {
    &-x#{$prefix}#{$name} {
      #{$newattribute}: 0 $value;
    }
  }
}

@mixin border-radius-utility($att, $prefix: "-") {
  $sizes: "xs", "sm", "md", "lg", "xl", "xxl";

  $border-map: (
    xs: 4px,
    sm: 6px,
    md: 8px,
    lg: 10px,
    xl: 12px,
    xxl: 14px,
    round: 100%,
  );

  @each $name, $value in $border-map {
    &#{$prefix}#{$name} {
      #{$att}: $value;
    }
  }
}
.margin {
  @include spacing-utility(margin);
}

.padding {
  @include spacing-utility(padding);
}

.border {
  @include border-radius-utility(border-radius);
}
