// elements
$header-h: 50px;
$sidebar-w: 70px;
// colors
$background: #0f1014;
$primary: #1b1c21;
$secondary: #2c2c34;
$white: #ffffff;
$notification: #df3e50;
$danger: #da3f5e;
$success: #339d75;
$neutral: #858492;
// sizes
$xs: 4px;
$sm: 6px;
$md: 8px;
$lg: 16px;
$xl: 24px;
$xxl: 36px;
// border-radius-sizes
$border-xs: 4px;
$border-sm: 6px;
$border-md: 8px;
$border-lg: 10px;
$border-xl: 12px;
$border-xxl: 14px;
$border-round: 100%;
