@import "/src/assets/style/utils/mixins.scss";
@import "/src/assets/style/utils/var.scss";

.more-tags {
  margin: $lg 0;
  a {
    color: $neutral;
    font-size: 0.9rem;
  }
}

.main-posts {
  display: flex;
  flex-direction: column;
}
