.input-container {
  .icon {
    color: $neutral;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    top: 0;
    left: 16px;
    opacity: 1;
    transition: all 0.3s ease;
  }

  input {
    font-size: 0.95rem;
    box-sizing: border-box;
    background-color: $secondary;
    border: none;
    border-radius: $border-sm;
    padding: $md $lg;
    transition: all 0.3s ease;
    color: RGB(200, 200, 200);

    &:focus {
      outline: 0 none;
      padding-left: 16px !important;
      transition: all 0.3s ease;
    }
    &:focus + .icon {
      opacity: 0;
      left: 0;
      transition: all 0.3s ease;
    }

    &::placeholder {
      font-size: 0.9rem;
      color: $neutral;
    }
  }

  .input-with-icon {
    padding-left: 48px;
  }

  .input-fullwidth {
    width: 100%;
  }
}

.input-icon-active {
  left: 0px !important;
  opacity: 0 !important;
  transition: all 0.3s ease;
}
