@import "/src/assets/style/utils/mixins.scss";
@import "/src/assets/style/utils/var.scss";

.menu {
  padding: $md 0;
  z-index: 7;
  background-color: $primary;
  position: absolute;
  border: 2px solid $secondary;
  border-radius: $border-md;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-label {
  width: 95%;
  font-size: 0.75rem;
  padding: $md $md;
  color: RGB(110, 110, 110);
}

.menu-divider {
  margin: $md 0;
  background-color: $secondary;
  width: 100%;
  height: 1px;
}

.menu-item {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  color: #bdbec1;
  width: 97%;
  padding: 12px $md;
  border-radius: $border-xs;
  transition: all 0.15s ease;
  &:hover {
    background-color: $secondary;
  }
  .menu-item-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: $md;
  }

  .menu-item-end {
    position: absolute;
    right: $xs;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: $md;
  }
}

.menu-element {
  padding: 12px $md;
  color: #bdbec1;
}
