.title {
  margin: $xxl 0;
  display: flex;
  .title-text {
    font-size: 1.2em;
    font-weight: 300;
    white-space: nowrap;
  }
  .line-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-left: $xl;
    .line {
      background-color: $secondary;
      height: 1px;
      width: 100%;
    }
  }
}
