.header {
  height: $header-h;
  background-color: $primary;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $lg;
  color: $white;

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      height: $xxl;
      width: auto;
    }
    .header-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-left: $md;
      .upper-title {
        line-height: 1;
        font-size: 16px;
        font-weight: 600;
        letter-spacing: 1.2px;
      }
      .lower-title {
        color: #b3b4b9;
        line-height: 1;
        font-size: 13px;
        letter-spacing: 1.75px;
      }
    }
  }

  .search {
    transition: 0.3s ease;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    width: 33.3%;
  }
  .misc {
    display: flex;
    justify-content: center;
    align-items: center;
    .button-icon {
      display: none;
    }
    .search-icon {
      display: none;
    }
  }
}
