// 1440px
@media (max-width: $laptop-l) {
  .podcast-body {
    font-size: 0.8rem !important;
  }
  .podcast-listeners {
    display: none !important;
  }
  .post-info {
    span {
      display: none;
    }
  }
  // .post-page-aside-author-articles {
  //   display: none;
  // }
}
