// 1024px
@media (max-width: $laptop) {
  .charts {
    max-width: calc(100vw - 128px);
  }
  main {
    width: 100% !important;
  }
  aside {
    display: none;
  }
  .aside-news-mobile {
    display: block !important;
  }
  .right-posts {
    width: 100% !important;
    padding-left: 0 !important;
  }
  .big-post {
    display: none !important;
  }
  .small-post {
    &:first-child {
      display: flex !important;
    }
  }
  .small-post-image img {
    width: 150px !important;
    height: 100px !important;
  }
  .title {
    margin: $xl 0;
  }

  .podcasts-mobile {
    display: block !important;
    .podcasts-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      .podcast {
        width: 48%;
        .podcast-body {
          font-size: 1rem !important;
        }
        .podcast-footer {
          font-size: 0.9rem;
        }
        .podcast-listeners {
          display: flex !important;
        }
      }
    }
  }
}
