// 426px
@media (max-width: $mobile-l) {
  .sidebar {
    display: none;
  }

  .small-post {
    flex-direction: column;
    &:not(:last-child) {
      margin-bottom: $xxl !important;
    }
    .small-post-image img {
      border-radius: $border-md !important;
      width: 100% !important;
      height: 125px !important;
      margin-bottom: $md;
    }
    .small-post-info {
      margin-left: 0 !important;
    }
    .post-title {
      padding-bottom: $xl;
    }
  }
  .podcast {
    &:not(:last-child) {
      margin-bottom: $xxl !important;
    }
  }
}
